body {font-family: Arial, "Arial";}

.btn {
  border-radius: 5px;
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 14pt;
}

.btn-gradient-green{
  background: linear-gradient(to bottom, #45f74d 0%,#00bf00 100%);
  color: white;
}

.container {
  margin: auto;
  width: 90%;
}

.header{
  text-decoration: none;
}
a.header-item{
  text-decoration: none;
  color: rgb(70, 70, 100);
  margin-left: 15px;
  font-size: 14pt;
}

a.header-item-selected{
  text-decoration: underline;
  color: rgb(70, 70, 100);
  margin-left: 15px;
  font-size: 14pt;
}
p {font-size: 14pt}

.news-container{
  background-color: white;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #333;
  margin-bottom: 30px;
  width: 100%;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.header {
 width: 100%;  
}

.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
